@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #f6f6f6;
  --primaryColor: #f6f6f6;
  --fontColor: #3B465A;
  --white: #fff;
  --secondaryFontColor: #C0C0C0;
  --rain: rgba(106, 16, 252, 0.27);
  --thunderstorm: #F80000;
  --clouds: rgba(51, 51, 51, 0.27);
  --snow: rgba(16, 167, 252, 0.27);
  --sun: rgba(252, 129, 16, 0.27);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1 {
  position: relative;
  font-size: 6rem;
  font-weight: 600;
  color: var(--fontColor);
  margin: 0;
  line-height: 100%;
  width: fit-content;
}

h1 span {
  line-height: 100%;
  position: absolute;
  top: 10px;
  font-size: 2rem;
  right: -1em;
}

h3 {
  margin: 0;
  color: var(--fontColor);
  font-size: 1.3rem;
  line-height: 100%;
}

h4 {
  cursor: pointer;
  margin: 0;
  color: var(--fontColor);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 0.6em;
  padding-left: 0.8em;
  padding-top: 0.6em;
  border-bottom: 1px solid var(--secondaryFontColor) ;
}

h4:hover{
  background-color: var(--secondaryFontColor);
}

h4:last-child{
  border-bottom: none ;
  border-radius: 0 0 20px 20px;
  margin: 0;
}

h4:first-child{
  border-radius: 20px 20px 0 0 ;
  margin: 0;
}

p {
  color: var(--secondaryFontColor);
  font-size: 1rem;
  margin: 0;
}

.app {
  padding: 0 4em;
}

.nav {
  width: 100%;
  padding: 1em 0;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 50px;
}

form {
  position: relative;
  width: 20em;
  height: 2.5em;
  display: flex;
  align-items: center;
}

.navbar input{
  position: absolute;
  border-radius: 40px;
  height: 2.5em;
  width: 100%;
  border: none;
  padding: 1.5em;
  font-size: 0.8rem;
  background-color: var(--white);
  color: var(--fontColor);
}

form button {
  cursor: pointer;
  right: 5.5px;
  position: absolute;
  height: 2.3em;
  width: 5em;
  background-color: var(--fontColor);
  color: var(--primaryColor);
  border-radius: 40px;
}

.navbar input:focus {
  border: 2px solid var(--secondaryFontColor);
  outline: none;
}

.navbar img {
  max-width: 150px;
  display: block;
}

.mode {
  width: 10em;
  display: flex;
  justify-content: flex-end;
}

#darkmode {
  max-width: 40px;
  cursor: pointer;
}

.searchResults.active {
  display: block;
  position: absolute;
  height: auto;
  /* padding: 0.8em; */
  width: 20em;
  background-color: var(--backgroundColor);
  z-index: 1;
  border-radius: 20px;
  left: 49%;
  transform: translateX(-50%);
  box-shadow: 0px 21px 31px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--secondaryFontColor);
}

.searchResults {
  display: none;
}

.searchResults h4 {
  padding: 0.8em;
}

.maindata {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50em;
  height: 14em;
  border-radius: 40px;
  margin: 3em auto 1.5em auto;
  padding: 2em 4em 3em 4em;
  box-shadow: 0px 21px 31px 12px rgba(0, 0, 0, 0.05);
}

.rain {
  background-color: var(--backgroundColor);
  background: linear-gradient(270deg, var(--rain) -16.97%, var(--backgroundColor) 59.8%)
}

.clouds {
  background-color: var(--backgroundColor);
  background: linear-gradient(270deg, var(--clouds) -16.97%, var(--backgroundColor) 59.8%)
}

.snow {
  background-color: var(--backgroundColor);
  background: linear-gradient(270deg, var(--snow) -16.97%, var(--backgroundColor) 59.8%)
}

.thunderstorm {
  background-color: var(--backgroundColor);
  background: linear-gradient(270deg, var(--thunderstorm) -16.97%, var(--backgroundColor) 59.8%)
}

.sun {
  background-color: var(--backgroundColor);
  background: linear-gradient(270deg, var(--sun) -16.97%, var(--backgroundColor) 59.8%)
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50em;
  height: 9em;
  border-radius: 40px;
  margin: 3em auto 1.5em auto;
  box-shadow: 0px 21px 31px 12px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      120deg,
      #ffffff 10%,
      #ececec 38%,
      #eaeaea 10%,
      #ffffff 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}

.loading.dark {
  background: linear-gradient(
    120deg,
    var(--backgroundColor) 10%,
    #5C6678 38%,
    #5C6678 10%,
    var(--backgroundColor) 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}

@keyframes load{
  100%{
      background-position: -100% 0;
  }
}


.data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#weathericon {
  max-width: 15%;
}

.dots {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 1em;
}

.dot.active {
  height: 0.6em;
  width: 0.6em;
  background-color: var(--fontColor);
  border-radius: 50%;
}

.dot {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: #D5D5D5;
  cursor: pointer;
}

.seconddata {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  max-width: 50em;
  height: auto;
  border-radius: 40px;
  background-color: var(--primaryColor);
  margin: auto;
  padding: 3em;
  box-shadow: 0px 21px 31px 12px rgba(0, 0, 0, 0.05);
}

.firsthour {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.seconddata img {
  width: 3em;
  height: 100%;
}

.seconddata p {
  color: var(--secondaryFontColor);
  font-size: 0.8rem;
  margin: 0;
}

.thirddata {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  height: 7em;
  background-color: var(--white);
  margin: 2em auto;
}

.dark {
  background-color: var(--backgroundColor);
  box-shadow: 0px 21px 31px 12px rgba(0, 0, 0, 0.08);
}

.dark h1 {
  color: var(--white);
}

.dark h4 {
  color: var(--white);
}

.dark h3 {
  color: var(--white);
}

.container {
  width: 50em;
  margin: auto;
  display: flex;
  gap: 3em;
  padding: 0 7.5em;
  align-items: center;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.city img {
  max-width:50%;
  height: 100%;
}

.city h3 {
  margin: 0;
  color: var(--fontColor);
  font-size: 0.8rem;
  line-height: 100%;
}

button {
  background: none;
  border: none;
}

.addButton img {
  width: 3em;
  cursor: pointer;
}

/* .footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
} */

.footer img {
  width: 7em;
  height: 100%;
}

.logoMobile {
  display: none;
}

.mode {
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .app{
    padding: 0 3em;
  }

  .logoMobile {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }

  .logoMobile img {
    max-width: 150px;
  }

  .navbar {
    justify-content: center;
    gap: 45px;
  }

  .navbar img {
    display: none;
  }

  #darkmode {
    display: block;
  }

  form {
    margin-left: 0;
  }

  .mode {
    width: fit-content;
  }

  .maindata {
    margin-top: 1em;
  }

  .container {
    padding: 0 2em;
  }

  .searchResults {
    display: none;
  }

  .searchResults.active {
    left: 45%;
    transform: translateX(-50%);
    display: block;
  }

}

@media screen and (max-width: 630px) {
  .firsthour {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
}