@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    font-family: 'Inter', sans-serif;
    @apply min-h-full;
    @apply bg-gray-200;
  }

  .darkOnlyOnBodyTag {
    @apply bg-slate-800
  }

  h1 {
    position: relative;
    font-size: 6rem;
    font-weight: 600;
    color: var(--fontColor);
    margin: 0;
    line-height: 100%;
  }
  
  h3 {
    @apply m-0;
    @apply text-2xl;
  }
  
  p {
    @apply m-0;
    @apply text-gray-400;
  }
}


/* .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50em;
  height: 9em;
  border-radius: 40px;
  margin: 3em auto 1.5em auto;
  box-shadow: 0px 21px 31px 12px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      120deg,
      #ffffff 10%,
      #ececec 38%,
      #eaeaea 10%,
      #ffffff 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}

@keyframes load{
  100%{
      background-position: -100% 0;
  }
} */
